<!DOCTYPE html>
{% if messages %}
    {% for message in messages %}
        
        <h1><bold><p style="color:green; font-weight:bold;">{{ message }}</bold></h1>
        </p>
    {% endfor %}
{% endif %}
<html>
<head>
    <title>Student List</title>
</head>
<body>

<h2>Student List</h2>
<form method="GET">

<select name="course">

<option value="">All Courses</option>

<option value="java">Java</option>

<option value="python">Python</option>

<option value="php">PHP</option>

<option value="data science">Data Science</option>

</select>

<button type="submit">Filter</button>

</form></br></br>

<div class="top-buttons">
    <a href="{% url 'home' %}" class="home-btn">Home</a>
    <a href="{% url 'add_student' %}" class="add-btn">Add New Student</a>
</div>
<style>
.top-buttons{
margin-bottom:25px;
}
.home-btn{
background:blue;
color:white;
padding:8px 15px;
text-decoration:none;
border-radius:5px;
margin-right:10px;
}
.add-btn{
background:skyblue;
color:white;
padding:8px 15px;
text-decoration:none;
border-radius:5px;
margin-right:10px;
}
</style>
<table border="1" height="200" width="200">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Course</th>
    <th>Actions</th>
</tr>

{% for stu in page_obj %}

<tr>
    <td>{{ stu.id }}</td>
    <td>{{ stu.name }}</td>
    <td>{{ stu.age }}</td>
    <td>{{ stu.course }}</td>

    <td>
        <a href="{% url 'edit_student' stu.id %}">Edit</a>
        <a href="{% url 'delete_student' stu.id %}">Delete</a>
    </td>
</tr>
{% endfor %}
</table>
</body>
</html>

<div>
{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}">previous</a>
{% endif %}
<span>
page{{page_obj.number}} of {{page_obj.paginator.num_pages}}
</span>
{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}">Next</a>
{%endif%}
</div>



